body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head-font{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  margin-bottom: 70px;
  margin-top: 10px;
}

.head-font2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.head-font3{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin-bottom: 35px;
}

.head-font4{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 15px;
  margin-top: 50px;
}

.head-font5{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 15px;
  margin-bottom: -30px;
}


.search-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.form-control{
  border-radius: 10px;
  border-block-color: black;
  border-inline-color: black;
  border-width: 1px;
}

.btn-primary{
  margin-top: 10px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-size: 150%;
}

.bg-light {
  background-color: #EFEFEF !important;
}

.border {
  border-color: black !important;
  border-width: 1px !important;
  border-radius: 10px !important;
}
